/*
#393E41 Black Olive
#D3D0CB Light Gray 
#E7E5DF Platinum - white-ish
#44BBA4 Verdigris - light green
#E7BB41 Meat Brown - yellow

*/

body{
	/*background-color: #393E41;*/
 	line-height: 1.1;
	font-color: #393E41;
	overflow-x: hidden;
	
}

h1 {
	font-family: Helvetica;
}
.navbar-default {
    background-color: #393E41;
    color: #393E41;
}

.index{
	background-size: cover;
	background-position: center center;
	background-image: url("landscape.jpg");
	background-attachment: fixed;
	background-color: #393E41;
}
.projects{
	background-color: #E7E5DF;
}
.story{
	background-color: #E7E5DF;
}
.contact{
	background-color: #E7BB41;
}
.contactA{
	text-align: right;
}
.right-align{
	text-align: right;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #393E41;
    color: #D3D0CB;
    text-align: center;
    border-top-width: 100px;
    border-color: #E7BB41;
}
.wrapper{
	padding: 0 0 70px;
}
fieldset{
	width: 500px;
}
legend {
	font-size: 20px;
}
label.field {
	text-align: right;
	width: 100px;
	float: left;
	font-weight: bold;
}
input.textbox-300{
	width: 300px;
	float: left;
}
fieldset p {
	clear: both;
	padding: 5px;
}